CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_MQTT_PROTOCOL_311=y
CONFIG_MQTT_TRANSPORT_WEBSOCKET=y
CONFIG_MQTT_TRANSPORT_WEBSOCKET_SECURE=y
CONFIG_MQTT_BUFFER_SIZE=12288
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
